<div class="starter-template excerpt-list">
  <h2>Choose a text to practice typing</h2>
  <div class="list-group">
    {{#each texts}}
    <a href="#" class="list-group-item typingtext" data-id='{{id}}'>
      <h4 class="list-group-item-heading ">{{title}}</h4>
      <p class="list-group-item-text">{{truncate text 130 "..."}}</p>
    </a>
    {{/each}}
  </div>
  </ul>
</div>
